---
apiVersion: v1
kind: ServiceAccount
metadata:
  name: k8s-dashboard-impersonation-proxy
  namespace: kubernetes-dashboard
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: k8s-dashboard-impersonation-proxy
rules:
  - apiGroups:
      - ""
    resources:
      - users
      - groups
      - serviceaccounts
    verbs:
      - impersonate
  - apiGroups:
      - authentication.k8s.io
    resources:
      - '*'
    verbs:
      - impersonate
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRoleBinding
metadata:
  name: k8s-dashboard-impersonation-proxy
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: k8s-dashboard-impersonation-proxy
subjects:
  - kind: ServiceAccount
    name: k8s-dashboard-impersonation-proxy
    namespace: kubernetes-dashboard
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: k8s-dashboard-impersonation-proxy
  namespace: kubernetes-dashboard
spec:
  replicas: 1
  selector:
    matchLabels:
      app.kubernetes.io/name: k8s-dashboard-impersonation-proxy
  template:
    metadata:
      labels:
        app.kubernetes.io/name: k8s-dashboard-impersonation-proxy
    spec:
      containers:
      - name: k8s-dashboard-impersonation-proxy
        image: ghcr.io/aslafy-z/k8s-dashboard-impersonation-proxy:v0.3.0
        imagePullPolicy: IfNotPresent
        env:
        - name: DEBUG
          value: "false"
        - name: INSECURE_TLS_VERIFY
          value: "true" # Please contribute if you want to make this false
        - name: TARGET_URL
          value: https://kubernetes-dashboard.kubernetes-dashboard.svc:443
        ports:
        - containerPort: 8080
          name: http
          protocol: TCP
      serviceAccountName: k8s-dashboard-impersonation-proxy
---
apiVersion: v1
kind: Service
metadata:
  name: k8s-dashboard-impersonation-proxy
  namespace: kubernetes-dashboard
spec:
  ports:
  - port: 80
    protocol: TCP
    targetPort: http
  selector:
    app.kubernetes.io/name: k8s-dashboard-impersonation-proxy
---
apiVersion: rbac.authorization.k8s.io/v1
kind: RoleBinding
metadata:
  name: bind-restricted-user
  namespace: default
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: view
subjects:
  - apiGroup: rbac.authorization.k8s.io
    kind: User
    name: restricted-user
